body {
    padding-bottom: 90px;
    background-image: url('../images/wall/email-pattern.png');
    background-repeat: repeat;
}
#name {
    margin-bottom: 0;
}
#main-chat-container {
    margin-bottom: 50px;
}
nav {
    padding: 20px;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 60px;
}
img {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}
.mb-50 {
    margin-bottom: 50px;
}
.mt-50 {
    margin-top: 50px;
}
#footer-container {
    text-align: center;
    color: #cccccc;
    font-size: 1rem;
}
.mh-0 {
  margin-left: 0 !important;  
  margin-right: 0 !important;
}