body {
  padding: 0.25rem 2rem;
  text-align: center;
  background-color: #f5f5f5;
}
main {
  min-height: 65vh;
  max-width: 300px;
  padding-top: 2rem;
  display: inline-block;
  text-align: left;
  font-size: 1.1rem;
  line-height: 25px;
}

@media (min-width: 768px) {
  main {
    max-width: 420px;
  }
}

img {
  max-width: 100%;
  height: auto;
  margin: 2rem 0;
}
